// Classes
$brand-colors: (
  'tomato': $color-tomato,
  'gold': $color-gold,
  'forest-green': $color-forest-green,
  'dark-turquoise': $color-dark-turquoise,
  'dark-slate-blue': $color-dark-slate-blue,
  'brighter-dark-slate-blue': $color-brighter-dark-slate-blue,
  'dark-slate-gray': $color-dark-slate-gray,
);

@mixin color-classes($color-namespace, $brand-color) {
  .has-background-#{$color-namespace} {
    background-color: $brand-color;
  }

  .has-text-#{$color-namespace}, // Bulma convention
  .has-color-#{$color-namespace} {
    color: $brand-color;
  }
}

@each $color-namespace, $brand-color in $brand-colors {
  @include color-classes($color-namespace, $brand-color);
}
