$fullhd: 1248px + (2 * $gap);

//@import "bulma/sass/elements/container.sass";

$container-offset: (2 * $gap);
$container-max-width: $fullhd;

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  &.is-fluid {
    max-width: none !important;
    padding-left: $gap;
    padding-right: $gap;
    width: 100%;
  }
  @include desktop {
    max-width: $desktop - $container-offset;
  }
  @include until-widescreen {
    &.is-widescreen:not(.is-max-desktop) {
      max-width: calc(
        Min(#{$widescreen}, #{$container-max-width}) - #{$container-offset}
      );
    }
  }
  @include until-fullhd {
    &.is-fullhd:not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: Min(#{$fullhd}, #{$container-max-width}) - $container-offset;
    }
  }
  @include widescreen {
    &:not(.is-max-desktop) {
      max-width: Min(#{$widescreen}, #{$container-max-width}) -
        $container-offset;
    }
  }
  @include fullhd {
    &:not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: Min(#{$fullhd}, #{$container-max-width}) - $container-offset;
    }
  }
}

//@import "bulma/sass/grid/_all.sass";
@import '../bulma_layout/columns';
