@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Inter-Regular'), local('Inter Regular') local('Inter'),
    url('~assets/fonts/Inter-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Inter-SemiBold'), local('Inter SemiBold') local('Inter'),
    url('~assets/fonts/Inter-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inter-Bold'), local('Inter Bold') local('Inter'),
    url('~assets/fonts/Inter-Bold.ttf') format('ttf');
}
